<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AutoMusic.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AutoMusic.Properties.Settings>
            <setting name="Playlist" serializeAs="String">
                <value />
            </setting>
            <setting name="Schedule" serializeAs="String">
                <value />
            </setting>
            <setting name="ClockOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StartAfter" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="StopBefore" serializeAs="String">
                <value>10</value>
            </setting>
        </AutoMusic.Properties.Settings>
    </userSettings>
</configuration>